.cardItem {
    background-color: rgba(48, 91, 145, 0.593);
    border-radius: 8px;
    margin: 2rem 8rem;

}

.header {
    padding-top: 0.01em;
}

.itemImg {
    width: 15rem;
    height: 13rem;
    border-radius: 8px;
    object-fit: cover;
    padding: 0 2rem;
}
/*
.btnCard {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: 0.4s;
}
*/